﻿@using testing_empty_ASP.Models
@model Company []
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name=" = "viewport" content="width=device-width"/>
        <title>Companies</title>
    </head>
    <body>
        <div class = "container">
            <div class = "row row-cols-2">
            @foreach (var cc in Model)
            {
                <div class = "col card">
                    <p class ="card-header">@cc.Id</p>
                    <p class = "card-body text-success">
                        @cc
                    </p>
                    <p class="card-footer text-warning">
                        Prime Company
                    </p>
                </div>

            }
        </div>
        </div>
    </body>
</html>
